<div class="row mt-3  justify-content-center">
  <div class="col-md-11 card">
    <div class="row "
      style="background: #cc3d00 radial-gradient(circle at 60% 100%,#ffa436 5%,#cc3d00 94%);color: Black;margin: 10px;padding: 10px;">
      <div class="col-md-12 d-flex justify-content-center">
        <h2>Trains</h2>
      </div>
    </div>
    <hr>
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-md-12 overflow-auto" style="height: 35rem;">
            <div>
              <div *ngFor='let train of trains$' class="card">
                <div class="card-header flex-row">
                  <div class="row">
                    <div class="col-md-8">
                      <h2><b>{{train.train_name}}</b></h2>
                    </div>
                    <div class="col-auto">
                      <div> <button class="button" type="button" 
                       (click)="goto2(train.trainid) ">
                        Book Now
                      </button> </div>

                    </div>
                  </div>
                </div>
                <div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-7 mr-auto">
                        <h4><b> Source : </b>{{train.trainFrom }}</h4>
                        <hr>
                        <h4><b> Destination :</b> {{train.trainTo}}</h4>
                        <hr>
                        <h4><b> Stops : </b>
                          <label *ngFor="let x of train.route"> {{x['via']}} , </label>
                          <label>{{train.trainTo}}</label>
                        </h4>
                        <div class="col-md-7 mr-auto">
                        </div>
                      </div>
                      <div class="col-auto mr-auto">
                        <h3><b>Departure : </b> {{train.departure}}</h3>

                        <hr>
                        <h3><b>Arrival : </b> {{train.arrival}}</h3>
                        <hr>
                        <!-- <h4><b> Seatings : </b></h4>
                        <div *ngFor='let seat of seats$'>
                          <p>{{seat.seat_type}} : Rs {{seat.cost}}</p>
                        </div> -->

                      </div>
                      <br>
                      <!-- <div class="col-auto">
                        <div class="col-auto">
                          <img src="{{train.bannerimage}}" width="163px" height="208px" alt="error">
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>